.card {
  background-color: #F4F1DE;
  font-family: 'Open Sans', sans-serif;
}

.card-header h2 {
  font-size: 40px;
}

.btn-link {
  font-size: 25px;
  font-weight: bold;
  color: #3D405B;
  text-decoration: none;
}

.btn-link:hover, btn-link:active, btn-link:visited {
  color: #81B29A;
  font-size: 30px;
  text-decoration: none;
}

img {
  border: 5px solid #555;
}

h3 {
  font-weight: bold;}
  h3 a:hover {
  color: #81B29A;
  font-family: 'Open Sans', sans-serif;
}
