.card {
  background-color: #F4F1DE;
}

.card-header h2 {
  font-size: 40px;
}

.btn-link {
  font-size: 25px;
  font-weight: bold;
  color: #3D405B;
  text-decoration: none;
}

.btn-link:hover {
  color: #81B29A;
  font-size: 30px;
  text-decoration: none;
}
