@import url("card.css");
@font-face {
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  background-color: #fff;
  padding: 40px;
  min-height: 100vh;}

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none;
    color: black;}

.heavy h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 80px; }

.personal-info {
  margin: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.period {
  color: #E07A5F;
}

.name {
  color: #3D405B;
  font-weight: bold;
}

.paragraphs {
  margin: 10px; }
  .paragraphs p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.sections {
  margin-bottom: 10px;
  margin-top: 0px;
}

.list-name {
  font-weight: bold;
  font-size: 20px; }
  .list-name a:hover {
    color: #81B29A;
  }

.list-title {
  line-height: normal;
  font-weight: bold;
}

.list-date {
  line-height: 80%;
  text-transform: uppercase;
}

.social-media ul {
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.icon {
  display: inline-block;
  font-size: 20px;
}

.icon i:hover {
  color: #81B29A;
  font-size: 30px;
}


